/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1em;
}
body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
ul li {
    list-style-type: none;
}



/* UTILITY */
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
.row {
    display: flex;
}
.col-60 {
    flex: 1 1 60%;
    background-color: #1E90FF;
}
.col-40 {
    flex: 1 1 40%;
    background-color: #FFC0CA;
}
.col-30 {
    min-height: 66vh;
    flex: 1 1 30%;
    background-color: #F08180;
}
.col-70 {
    flex: 1 1 70%;
    background-color: #20B3AA;
}
section {
    padding: 2rem 0;
}
.btn {
    border: 0;
    font-size: 1rem;
    border-radius: 2em;
    padding: .75em  1em;
    font-weight: 500;
}
.btn-big {
    font-size: 1.5rem;
}
.btn-primary {
    background-color: #fff;
    color: #222;
}
.btn-secondary {
    background-color: #23272A;
    color: #fff;
}



/* DEBUG */
.debug, 
.debug * {
    border: 2px dashed red;
    background-color: #ff000022;
}
.box {
    min-height: 10vh;
    border: 1px dashed;
}



/* HEADER */
.main-header {
    background-color: #255EE9;
    color: #fff;
}
.header-top {
    padding: 1rem;
}
.header-top .row > * {
    display: flex;
    align-items: center;
}
/* Regola sotto da spostare in debug */
.header-top .box {
    min-height: auto;
}
.header-top .logo {
    flex: 1 1 0;
}
.header-top .logo img {
    min-height: 2.5rem;
}
.header-top .menu {
    flex: 3 1 0;
    padding: .5rem;
}
.header-top .menu ul {
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-top .menu a {
    padding: 1.5rem;
    font-weight: 500;
}
.header-top .login {
    flex: 1 1 0;
    justify-content: flex-end;
    padding: .5rem;
}
/* Regola sotto da spostare in debug */
/* .header-bottom {
    background-color: #00018B;
} */
.hero {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.hero .container {
    padding: 7rem 0;

    /* debug */ 
    /* border: 2px dashed red; */
}
.hero .box {
    text-align: center;
    padding: 0 7.5rem;
    /* Regole debug */
    /* background-color: #EF82ED; */
    /* min-height: 50vh; */
}
.hero h2 {
    font-size: 3.5rem;
    margin: 2.5rem 0;
}
.hero p {
    font-size: 1.33rem;
    line-height: 1.5em;
    margin: 0 0 1.33rem;
}


/* MAIN */
main {
    /* padding: 1rem; */
    flex-grow: 1;
}
.left .box,
.right .box {
    min-height:50vh;
}
.box-small {
    max-width: 80%;
    margin: 0 auto;
}
main section:nth-child(even) {
    background-color: #D3D3D3;
}
main section:nth-child(even) .box-accent {
    order: 1;
}
.big .box {
    min-height: 75vh;
}
.box-big {
    width: 100%;
    margin: 0 auto;
    background-color: #218B21;
}



/* FOOTER */
.page-footer {
    padding: .5rem 0 0;
    background-color: #23272A;
}
.footer-top .row .box {
    flex: 1 1 25%;
    color: #fff;
}
.footer-bottom {
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: #7FFFD2;
}
.footer-bottom .row {
    justify-content: space-between;
    align-items: center;
}
.footer-bottom .box {
    min-height: auto;
    padding: .25rem;
}