/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1em;
}
body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
ul li {
    list-style-type: none;
}
img {
    max-width: 100%;
}



/* UTILITY */
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
.row {
    display: flex;
}
.col-100 {
    flex: 1 0 100%;
}
.col-60 {
    flex: 1 1 60%;
    /* Debug */
    /* background-color: #1E90FF; */
}
.col-40 {
    flex: 1 1 40%;
    /* Debug */
    /* background-color: #FFC0CA; */
}
.col-30 {
    flex: 1 1 30%;
    /* Debug */
    background-color: #F08180;
    min-height: 66vh !important;
}
.col-70 {
    flex: 1 1 70%;
    /* Debug */
    background-color: #20B3AA;
}
section {
    padding: 7.5rem 0;
}
.btn {
    border: 0;
    font-size: 1rem;
    border-radius: 2em;
    padding: .75em  1em;
    font-weight: 500;
}
.btn-big {
    font-size: 1.5rem;
}
.btn-primary {
    background-color: #fff;
    color: #222;
}
.btn-secondary {
    background-color: #23272A;
    color: #fff;
}
.btn-info {
    background-color: #7289DA;
    color: #fff;
}



/* DEBUG */
.debug, 
.debug * {
    border: 2px dashed red;
    background-color: #ff000022;
}
.box {
    min-height: 10vh;
    border: 1px dashed;
}
.box-small {
    max-width: 80%;
    margin: 0 auto;
}



/* HEADER */
.main-header {
    background-color: #255EE9;
    color: #fff;
}
.header-top {
    padding: 1rem;
}
.header-top .row > * {
    display: flex;
    align-items: center;
}
/* Regola sotto da spostare in debug */
.header-top .box {
    min-height: auto;
}
.header-top .logo {
    flex: 1 1 0;
}
.header-top .logo img {
    min-height: 2.5rem;
}
.header-top .menu {
    flex: 3 1 0;
    padding: .5rem;
}
.header-top .menu ul {
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-top .menu a {
    padding: 1.5rem;
    font-weight: 500;
}
.header-top .login {
    flex: 1 1 0;
    justify-content: flex-end;
    padding: .5rem;
}
/* Regola sotto da spostare in debug */
/* .header-bottom {
    background-color: #00018B;
} */
.hero {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.hero .container {
    padding: 7rem 0;

    /* debug */ 
    /* border: 2px dashed red; */
}
.hero .box {
    text-align: center;
    padding: 0 7.5rem;
    /* Regole debug */
    /* background-color: #EF82ED; */
    /* min-height: 50vh; */
}
.hero h2 {
    font-size: 3.5rem;
    margin: 2.5rem 0;
}
.hero p {
    font-size: 1.33rem;
    line-height: 1.5em;
    margin: 0 0 1.33rem;
}



/* MAIN */
main {
    /* padding: 1rem; */
    flex-grow: 1;
}
main img {
    width: 100%;
}
/* Spostare tra regole debug */
/* .left .box,
.right .box {
    min-height:50vh;
} */
main .row {
    gap: 3rem;
}
main section:nth-child(odd) .col-60 {
    text-align: end;
}
main section:nth-child(even) {
    background-color: #F6F6F6;
}
main section:nth-child(even) .col-60 {
    order: 1;
}
main h3 {
    font-size: 3.5rem;
    letter-spacing: .1rem;
    /* La seguente regola è inserita solo se NON posso modificare le immagini per rimuovere la fascia bianca in alto */
    /* Il margine che inserisco serve a allineare il titolo all'immagine */
    /* NB: A mio avviso la soluzione corretta per esssere certi dell'allineamento è ritagliare l'immagine e lasciare che i due elementi si allineino naturalmente */
    margin-top: 2rem;
}
main p {
    margin: 1.5em 0;
    /* Sono come hero .p */
    /* Capire se mettere a tutti i p o comunque assimilare due regole */
    font-size: 1.33rem;
    line-height: 1.5em;
    /* margin: 0 0 1.33rem; */
}
section.big h3,
section.big p,
section.big .container:last-child {
    text-align: center;
}
main h4 {
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
}
.bg-stars {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
section.big .btn {
    display: inline-block;
    margin: 0 auto;
}
/* Spostare in regole di debug */
/* .big .box {
    min-height: 75vh;
} */




/* FOOTER */
.page-footer {
    padding: .5rem 0 0;
    background-color: #23272A;
}
.footer-top .row .box {
    flex: 1 1 25%;
    color: #fff;
}
.footer-bottom {
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: #7FFFD2;
}
.footer-bottom .row {
    justify-content: space-between;
    align-items: center;
}
.footer-bottom .box {
    min-height: auto;
    padding: .25rem;
}